.auth-form {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.auth-input-group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.auth-label {
  margin-bottom: 10px;
}

.auth-input {
  border-radius: var(--radius-sm);
  border: 1px solid var(--border-color);
  padding: 15px;
  font-size: var(--fs-basic);
  font-weight: 700;
}

.auth-input::placeholder {
  color: var(--sub-text-color);
  font-size: var(--fs-basic);
  font-weight: 400;
}

.auth-input:focus {
  outline: 2px solid var(--main-color);
}

.auth-input:focus::placeholder {
  color: transparent;
}

.auth-input:focus + .auth-label {
  color: var(--main-color);
}

.auth-error-msg {
  margin-bottom: 30px;
  color: var(--error-msg-color);
}

.auth-submit {
  border-radius: var(--radius-lg);
  background-color: var(--main-color);
  padding: 15px;
  margin-bottom: 30px;
  color: white;
  font-size: var(--fs-button);
  font-weight: 700;
  cursor: pointer;
}

.auth-submit:disabled {
  opacity: 0.3;
}
