.editor {
  width: 100%;
  background-color: var(--sub-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}

.editor-preview {
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

.editor-preview img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  object-fit: cover;
}

.editor-file {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editor-file i {
  color: white;
  font-size: var(--fs-basic);
}

.editor-name {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
}

.editor-name input {
  flex: 1;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: var(--fs-lg);
  font-weight: 700;
}

.editor-name input:enabled {
  background-color: white;
}

.editor-button {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: var(--radius-lg);
  background-color: var(--main-color);
  color: white;
  font-size: var(--fs-sm);
  cursor: pointer;
}
