@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
@import "./variable.css";
@import "./font.css";

/* components */
@import "./components/loader.css";
@import "./components/authForm.css";
@import "./components/authSocialLogin.css";
@import "./components/navigation.css";

/* pages */
@import "./pages/auth.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--outer-bg-color);
  color: var(--text-color);
  font-family: "Pretendard";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
}

input::placeholder {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.app-layout {
  width: 100%;
  max-width: 480px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--inner-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
